name: secerts workflow
on:
  workflow_dispatch:
  push:
      branches: [ main ]
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        name: checkout code
      - name: docker login using secrets
        run: |
            echo "====docker login using secrets===="
            echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin