name: secerts workflow
on:
  workflow_dispatch:
  push:
      branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: checkout code
      - name: docker login using secerts
      - run: |
          echo "====docker login using secrets===="
          echo ${{ secrets.DOCKER_USERNAME }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          pwd
          ls -lhtr